# Load UCD electricity data (2015-01-01 ~ 2022-07-19) and prediction data (2022-07-20 ~ 2022-10-17) and merge the two files for both campus and buildings

In [ ]:
import pandas as pd

In [ ]:
df_building = pd.read_csv("/content/UCD_electricity_buildings.csv")
df_building_prediction = pd.read_csv("/content/UCD_electricity_buildings_prediction.csv")
df_campus = pd.read_csv("/content/UCD_electricity_campus.csv")
df_campus_prediction = pd.read_csv("/content/UCD_electricity_campus_prediction.csv")

In [ ]:
df_building_prediction.rename(columns={df_building_prediction.columns[0]:"timestamp"},inplace=True)
df_campus_prediction.rename(columns={df_campus_prediction.columns[0]:"timestamp"},inplace=True)

In [ ]:
df_building = df_building[["timestamp","electricity_consumption","building"]]
df_building_new = pd.concat([df_building, df_building_prediction])

In [ ]:
df_campus = df_campus[["timestamp","electricity_consumption","campus"]]
df_campus_new = pd.concat([df_campus, df_campus_prediction])

In [ ]:
df_building_new

,timestamp,electricity_consumption,building
0,2015-01-01 00:00:00,109.264999,Agriculture & Food Science Building Electricity
1,2015-01-01 01:00:00,111.284996,Agriculture & Food Science Building Electricity
2,2015-01-01 02:00:00,106.947498,Agriculture & Food Science Building Electricity
3,2015-01-01 03:00:00,115.107498,Agriculture & Food Science Building Electricity
4,2015-01-01 04:00:00,107.972498,Agriculture & Food Science Building Electricity
...,...,...,...
30235,2022-10-17 19:00:00,27.265455,Sutherland School of Law Electricity
30236,2022-10-17 20:00:00,26.091080,Sutherland School of Law Electricity
30237,2022-10-17 21:00:00,25.763329,Sutherland School of Law Electricity
30238,2022-10-17 22:00:00,25.842793,Sutherland School of Law Electricity
30239,2022-10-17 23:00:00,24.492195,Sutherland School of Law Electricity

In [ ]:
df_campus_new

                timestamp  electricity_consumption     campus
0     2015-01-01 00:00:00              2402.000000   Belfield
1     2015-01-01 01:00:00              2377.000000   Belfield
2     2015-01-01 02:00:00              2371.000000   Belfield
3     2015-01-01 03:00:00              2387.000000   Belfield
4     2015-01-01 04:00:00              2460.000000   Belfield
...                   ...                      ...        ...
4315  2022-10-17 19:00:00                98.160851  Blackrock
4316  2022-10-17 20:00:00               100.188423  Blackrock
4317  2022-10-17 21:00:00                99.843536  Blackrock
4318  2022-10-17 22:00:00               100.903015  Blackrock
4319  2022-10-17 23:00:00                95.543976  Blackrock

[136656 rows x 3 columns]

In [ ]:
df_building_new.to_csv("UCD_electricity_prediction_buildings.csv")
df_campus_new.to_csv("UCD_electricity_prediction_campus.csv")